.contenedor-principal {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr; /* 3 columna para la izquierda, 3 para el centro y 3 para la derecha */
    gap: 20px;
    margin: 0 20px; 
}

.col-izquierda, .col-derecha {
    background-color: #f0f0f0; /* Color de fondo de los laterales */
    padding: 20px;
}


section{
    padding: 80px ;
    margin-top: 2.5rem;
}

.contenedor {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.img {
    width: 150px;
    height: 200px;
    border-radius: 50px;
    border-color: rgb(80, 38, 38);
    border-style: dashed;
    margin-left: 80px;
}

.informacion {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #3B313A;
    
}

h1 {
    font-family: 'Cinzel';
    text-align: center;
    color: #E0B7A0;
}